<nav class="navbar navbar-light bg-light">
  <a style="margin-left:10px; color:rgb(0, 0, 0)" class="navbar-brand" href="/">
    moodtune
  </a>
  <a style="margin-left:10px; color:rgb(0, 0, 0)" class="navbar-brand" href="/logout">
    logout
  </a>
  <a href="/userprofile">
    <img style="width: 30px; margin-right: 10px;" src="../../resources/img/profile.png">
  </a>
</nav>

<style>
  nav{
    position:absolute;
  }
</style>
