<h1>Homepage</h1>

<form method="GET" action="/">
    <label>homepage</label>
    <input type="submit" value="Submit">
</form>


<form method="GET" action="/spotifylogin">
    <label>LOGIN</label>
    <input type="submit" value="Submit">
</form>

<form method="GET" action="/topArtist">
    <label>top artists</label>
    <select name="time_range" id="time_range">
        <option value="short_term">short</option>
        <option value="medium_term">medium</option>
        <option value="long_term">long</option>
    </select>
    <input type="submit" value="Submit">
</form>

<form method="GET" action="/topTracks">
    <label>top tracks</label>
    <select name="time_range" id="time_range">
        <option value="short_term">short</option>
        <option value="medium_term">medium</option>
        <option value="long_term">long</option>
    </select>
    <input type="submit" value="Submit">
</form>

<form method="GET" action="/refreshToken">
    <label>REFRESH TOKEN</label>
    <input type="submit" value="Submit">
</form>