<h1>Homepage</h1>

<form method="GET" action="/">
    <label>homepage</label>
    <input type="submit" value="Submit">
</form>

<form method="GET" action="/register">
    <label>moodtune register</label>
    <input type="submit" value="Submit">
</form>

<form method="GET" action="/login">
    <label>moodtune login</label>
    <input type="submit" value="Submit">
</form>

<form method="GET" action="/spotifylogin">
    <label>SPOTIFY LOGIN</label>
    <input type="submit" value="Submit">
</form>

<form method="GET" action="/topArtist">
    <label>top artists</label>
    <select name="time_range" id="time_range">
        <option value="short_term">short</option>
        <option value="medium_term">medium</option>
        <option value="long_term">long</option>
    </select>
    <input type="submit" value="Submit">
</form>

<form method="GET" action="/topTracks">
    <label>top tracks</label>
    <select name="time_range" id="time_range">
        <option value="short_term">short</option>
        <option value="medium_term">medium</option>
        <option value="long_term">long</option>
    </select>
    <input type="submit" value="Submit">
</form>

<form method="GET" action="/statistics">
    <label>statistics</label>
    <select name="time_range" id="time_range">
        <option value="short_term">short</option>
        <option value="medium_term">medium</option>
        <option value="long_term">long</option>
    </select>
    <input type="submit" value="Submit">
</form>

<form method="GET" action="/recommendations">
    <label>recommendations</label>
    <input name="inputs" type="text">
    <input type="submit" value="Submit">
</form>

<form method="GET" action="/refreshToken">
    <label>REFRESH TOKEN</label>
    <input type="submit" value="Submit">
</form>

<style>
    img {
        opacity: 0;
    }
</style>

<body>
    <div>

        <label for="mood-list">Choose a mood:</label> 
        <select name="mood-list" id="mood-list">
            <option value="happy">Happy</option>
            <option value="sad">Sad</option>  
            <option value="angry">Angry</option>
            <option value="upset">Upset</option>   
            <option value="nostalgic">Nostalgic</option> 
            <option value="party">Party</option> 
            <option value="feel-good">Feel-good</option> 
            <option value="breakup">Breakup</option> 
            <option value="long drive">Long Drive</option>
        </select>
        
    </div>
</body>

<a class="nav-link" href="/logout">Logout</a> 