<div class="card d-flex center bg-light" style="width:32%; height:60%">
  <h1 class="card-title text-center" style="padding-top:15px">Login to MoodTune</h1>
  <div>
    {{> message}}
  </div>
  <div class="card-body">
    <form method="POST" action="/login" class="p-3">
      <div class="form-group" style="margin-top:2em">
          <label for="InputUsername">Username</label>
          <input name="username" type="username" class="form-control" id="inputUsername" aria-describedby="usernameHelp">
          <label for="inputPassword">Password</label>
          <input name="password" type="inputPassword" class="form-control" id="inputEmail" aria-describedby="passwordHelp">
      </div>
    </form>

    <div class="pt-3 text-center">
          <button type="submit" class="btn btn-primary">Login</button>
    </div>

      <footer style="margin-top:6em" class="text-center text-muted">
        <p>Don't have an account? Click <a href='/register'>Register.</a> to Register.</p>
      </footer>
  </div>
</div>

