<h1>Recommended Songs</h1>
<div id="tableDiv" class="p-3">
    {{> message}}
    <table class="table">
        <thead>
            {{!-- <label for="reccomendations">Recommened Songs</label> --}}
            {{!-- based on user input, bring up spotify songs with the same API calls --}}
            <tr> {{! Song format}}
                <th scope='col'>track name</th>
                <th scope='col'>artist name</th>
                <th scope='col'>image</th>
                {{!-- <th scope='col'>album</th> --}}
            </tr>
        </thead>
        <tbody>
            {{#each data.tracks}}
            {{!Call command from spotifyCall.js in Stats branch}}
                <tr> {{!Display the reccomended songs}}
                    <td>{{ name }}</td>
                    <td><img src="{{album.images.[0].url}}" width="90" height="90"></td>
                    <td>{{ artists.[0].name }}</td>
                    {{!-- <td>{{ album }}</td> --}}
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>