<div class="card d-flex center bg-light" style="width:32%; height:60%">
  <h1 class="card-title text-center" style="padding-top:15px">Register for MoodTune</h1>
  <div class="card-body">
    <form method="POST" action="/register" class="p-3">
      <div class="form-group" style="margin-top:1em">
          <label for="inputEmail">Email Address</label>
          <input name="username" type="username" class="form-control" id="inputUsername" aria-describedby="usernameHelp">
          <label style="margin-top:0.5em" for="inputPassword">Password</label>
          <input name="password" type="inputPassword" class="form-control" id="inputEmail" aria-describedby="passwordHelp">
      </div>
      <div class="pt-3 text-center">
          <button type="submit" class="btn btn-dark btn-lg">Register</button>
      </div>
    </form>

    

      <footer style="margin-top:2em" class="text-center text-muted">
        <p>Have an account? Click <a href="/login">Login</a> to login.</p>
      </footer>
  </div>
</div>